* {
    margin: 0;
    padding: 0;
font-family: 'SFNS Display Bold';
}

@font-face{
	font-family:'HONOR' ;
	src: url('font/HONORSansVFNormal.ttf') format('truetype');
	font-weight:650 ;
	font-style: normal;
	font-display: swap;
}
@font-face{
	font-family:'HONORL' ;
	src: url('font/HONORSansVFNormal.ttf') format('truetype');
	font-weight:400 ;
	font-style: normal;
	font-display: swap;
}
@font-face{
	font-family:'Rubik-VariableFont';
	src: url('font/Rubik-VariableFont_wght.ttf') format('truetype');
	font-weight:500 ;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'SFNS Display Bold';
	src: url('../font/sfns_display_bold.eot'); /* IE 9 Compatibility Mode */
	src: url('../font/sfns_display_bold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../font/sfns_display_bold.woff2') format('woff2'), /* Super Modern Browsers */
		url('../font/sfns_display_bold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../font/sfns_display_bold.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../font/sfns_display_bold.svg#sfns_display_bold') format('svg'); /* Chrome < 4, Legacy iOS */
}

.Navbar{
	width: 100%;
	height: 70px;
}
.Container{
	height: inherit;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.Navbar-Menu{
	list-style-type: none;
	margin-left: 0;
	margin-bottom: 0;
	margin-right: 3%;
}
.Navbar-Menu li{
display: inline-block;
}
.Navbar-Menu li a{
display: inline-block;
text-decoration: none;
color: white;
padding: 10px;
font-size: 20px;
}
.Navbar-Menu li a:hover{
	color:grey;
	transition: all .5s;
}
.Navbar-Logo{
	display: flex;
margin-left: 3%;
}
.DivImage{
position: absolute;
top: 0px;
left: 0px;
z-index: -1;
width: 100%;
height: 100%;
object-fit: cover;
text-align: center;
}
.column {
  float: left;
  width: 300px;
  height: 420px;
  column-gap: 30px;
  margin: 0 auto;
  margin-top: 25px;
}
.AboutUsImage{
	width:350px; 
	height:220px;
}
.ProductRowBody{
	width: 100%;
	position: relative;
	text-align: center;
}
.ProductRow{
	justify-content: center;
	align-items: flex-end;
	display:inline-block;
}
.ProductRow:after {
  clear: both;
  display: flex;
  left:30px;
  justify-content: center;
}
.MainPageInfoBody{
	height: 89.4vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.MainPageInfo{
display: inline-block;
vertical-align: middle;
margin-top: -10%;
width: 100%;
text-align: center;
align-items:flex-end;
}
.NameStore{
	margin-bottom: 2%;
	font-size: 70px;
	color: white;
}
.InfoStoreText{
	font-size: 25px;
	color: white;
}
.InfoStore{
	width: 600px;
	text-align: center;
	vertical-align: middle;
	display: inline-block;
	align-items:flex-end;
}
.InfoStoreTextTwo{
margin-top: 2%;
}
.DivInfoButton{
	margin-top: 2%;
	width: 100%;
}
.InfoButton{
	width: 	200px;
	height:50px;
	border-radius: 3px;
	background-color: red;
	color: white;
	border: 0;
	font-size: 22px;
}
.InfoButton:hover{
	background-color: darkred;
tansition: all .3s linear;
 -webkit-transition: all .3s linear;
 -moz-transition: all .3s linear; 
}
.PageInfoFooter{
margin-top: -50px;
display: flex;
justify-content: center;
width: 100%;
}
.MainPageInfoScrol{
	height: 89.4vh;
	width: 70%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.AboutUsBody{
	width: 	100%;
	height: 70vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.AboutUsOllContent{
display: flex;
vertical-align: middle;
align-items:flex-end;
justify-content: center;
width: 80%;
}
.AboutUsContent{
display: flex;
text-align: center;
align-items:flex-end;

}
.AboutUsOllText{
	width: 900px;
	margin-right: 10%;
	margin-bottom: auto;
}
.AboutUsTitle{
	width: 	auto;
	height: auto;
margin-top: 0px;
text-align:center;
font-size: 40px;
}
.AboutUsLogoContent{
	display: flex;
vertical-align: middle;
margin-left: auto;
margin-bottom: 	auto;
}
.AboutUsLogo{
margin-left: auto;
object-fit: cover;

}
.YandexMapBody{
display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.FooterBody{
display: flex;
vertical-align: middle;
align-items:flex-end;
background-color: #1c1c1c;
color: white;
margin-top: 3%;

}
.FooterBodyContent{
	display: flex;
	width: 100%;
	justify-content: space-between;
}
.FooterContacts{
	width: 200px;
	margin-left: 100px;
}
.FooterTitle{
	margin-bottom: 5px;
}
.FooterTextContent{
	flex-direction: column;
}
.gmail{
	margin-bottom: 5px;
	margin-top: 3px;
}
.FooterSocial{
		display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 100px;
}
.slider {
    position: relative;
    max-width: 1400px;
    margin: auto;
    overflow: hidden;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.slides {
    display: flex;
    transition: transform 0.4s ease-in-out;
}

.page {
    min-width: 100%;
    transition: transform 0.4s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Выравниваем товары по верхнему краю */
    flex-grow: 1; /* Слайд занимает всю доступную высоту */
}

.container {
    display: flex;
    flex-wrap: wrap; /* Товары будут переноситься на новую строку */
    justify-content: center; /* Центрируем товары */
    align-content: flex-start; /* Выравниваем строки товаров по верхнему краю */
    gap: 20px; /* Отступ между товарами */
    padding: 20px;
    width: 100%; /* Контейнер занимает всю ширину страницы */
}

.item {
    background: #f4f4f4;
    border-radius: 3px;
    width: 250px; /* Ширина товара */
    height: 345px; /* Высота товара */
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0; /* Товары не сжимаются */
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 10px; /* Отступ между кнопками и полем ввода */
}

.nav-btn {
    background-color: red;
    color: white;
    border: none;
    padding: 15px 22px;
    border-radius: 3px;
    cursor: pointer;
    margin-bottom: 12px;
	transition: background-color 0.3s ease;
}

.nav-btn:disabled {
    background-color: gray;
    cursor: not-allowed;
}
.nav-btn:hover:not(:disabled) {
    background-color: darkred;
}

.page-input {
    width: 60px; /* Ширина поля ввода */
    padding: 11px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 20px;
	margin-bottom: 12px;
	appearance: none; /* Убираем стандартные стрелки */
    -moz-appearance: textfield;
}

.page-input::-webkit-outer-spin-button,
.page-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.page-input:focus {
    outline: none;
    border-color: red;
}

.Arrows {
    display: flex;
    justify-content: center;
    transform: translateX(-50%);
    display: none;
}
.CategoriesBody{
display: flex;
justify-content: center;
width: 100%;
}
.CategoriesCenter{
display: flex;
justify-content: center;
vertical-align: middle;
width: 70%;
}
.Categories{
	display: inline-block;
	vertical-align: middle;
	align-items:flex-end;
	text-align: center;
	margin-top: 5%;
}
.Сategory {
display: inline-block;
padding: 15px;
text-align: center;
font-size: 17px;
border-radius: 3px;
cursor: pointer;
}
.item{
	display: flex;
	text-align: center;
	flex-direction: column;
	align-items: center;
}
.ProductPreview{
	text-align: center;
	width: 90%;
	height: 55%;
}
.ProductName{
	text-align: center;
	margin-top: 5%;
	font-size: 17px;
	width: 100%;
	height: 60px;
}
.ProductButton{
	margin-top: auto;
}
.ProductBtn{
	border-radius: 3px;
	background-color: red;
	color: white;
	border: 0;
	font-size: 15px;
	padding: 7px;
}
.ProductBtn:hover{
	background-color: darkred;
	tansition: all .3s linear;
 -webkit-transition: all .3s linear;
 -moz-transition: all .3s linear; 
}
.Price{
	margin-top: auto;
	display: flex;
font-size: 16px;
height: 5%;
}
.quantity{
	font-weight: bolder;
	font-family: none;
	font-weight: 500;
	font-size: 14px;
	text-align: center;

}
.AboutUsButtonNuv{
	color: white;
	font-size: 20px;
}
.modal-success {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1000;
  }
  
  .modal-success-content {
	background-color: white;
	padding: 20px;
	border-radius: 3px;
	width: 300px;
	text-align: center;
  }
  
  .modal-success-OrderNumber {
	margin: 20px 0;
  }
  
  .modal-success-ButtonModal button {
	background-color: green;
	color: white;
	border: none;
	padding: 10px 20px;
	border-radius: 3px;
	cursor: pointer;
  }
  .error-message-main {
	color: red;
	font-size: 14px;
	text-align: center;
  }

@media screen and (max-width: 1600px) {
.slider{
	max-width: 90%;
}
}
@media screen and (max-width: 1300px) {

.Сategory{
	font-size: 15px;
}
.ProductPreview{
	text-align: center;
	width: 80%;
	height: 50%;
}
.ProductName{
	margin-top: 5%;
	font-size: 17px;
}
.ProductButton{
	margin-top: 5%;
}
.ProductBtn{
	border-radius: 3px;
	color: white;
	border: 0;
	font-size: 15px;
	padding: 7px;
}
}
@media screen and (max-width: 1150px) {

.AboutUsTitle{
	font-size: 20px ;
}
.AboutUsText{
	font-size:13px ;
}
.AboutUsOllText{
	width: 700px;
}
}
@media screen and (max-width: 1050px) {
    .container {
        grid-template-columns: repeat(2, 1fr); /* 2 товара в ряд на планшетах и меньших устройствах */
    }
.Сategory{
	font-size: 14px;
}
}
@media screen and (max-width: 1000px) {
.InfoStore{
	width: 500px;
}
.AboutUsContent{
display: inline-block;
vertical-align: middle;
text-align: center;
align-items:flex-end;
flex-direction: column;
margin-right: 0px;
width: 100%;
}
.AboutUsTitle{
	font-size: 20px ;
}
.AboutUsText{
	font-size:13px ;
}
.AboutUsOllText{
display: inline-block;
vertical-align: middle;
text-align: center;
align-items:flex-end;
	width: 700px;
	margin-bottom: 30px;
	margin-right: 0px;
}
.AboutUsLogoContent{
		display: inline-block;
vertical-align: middle;
text-align: center;
align-items:flex-end;
flex-direction: column;
}
}
@media screen and (max-width: 900px) {
.YandexMap{
	width: 550px;
	height: 350px;
}
}
@media screen and (max-width: 840px) {
.AboutUsOllText{
	width: 80%;
}
}
@media screen and (max-width: 750px) {
.Navbar-Menu{
	margin-left: 26%;
	text-align: center;
	flex-wrap: wrap;
}
.MainPageInfo{
	width: 600px;
}
.NameStore{
	font-size: 50px;
}
.InfoStoreText{
font-size: 20px;
}
.InfoStoreTextTwo{
font-size: 20px;
}
}
@media screen and (max-width: 627px) {
.Navbar{
	flex-direction: column;
	text-align: center;
}
.Container{
	text-align: center;
	display: block;
	align-items: center; 
background-color: rgba(0, 0, 0, 0.7);
}
.Navbar-Menu{
 margin-top: 20px;
  margin-right: 0px;
  margin-left: 0px;
}
.Navbar-Menu li{
	width: 100%;
	list-style: none;
}
.Navbar-Menu li a{
width: 130px;
text-decoration: none;
color: white;
font-size: 20px;
padding: 5px;
}
.Navbar-Logo{
justify-content: center;
	margin-left: 0px;

}
.LastA{
	margin-bottom: 5px;
}
.MainPageInfoBody{
	height: 71vh;
}
.MainPageInfo{
	margin-top: -200px;
	width: 100%;
}
.NameStore{
	font-size: 33px;
}
.InfoStoreText{
	font-size: 19px;
	width: 100%;
}
.InfoStoreTextTwo{
	font-size: 18px;
}
.InfoStore{
	width: 100%;
	display: flex;
	text-align: center;
	justify-content: center;
}
.InfoButton{
	width: 120px;
	height: 45px;
}
.AboutUsContent{
	height: 500px;
}
.YandexMapContent{
	width: 90%;
	height: 300px;
	margin-bottom: 10px;
}
.YandexMap{
	width: 100%;
	height: 300px;
}
.CancerBody{
	margin-top: 100px;
}
}
@media screen and (max-width: 640px) {
	.Сategory{
	font-size: 13px;
}
.AboutUsImage{
	width: 200px;
	height: 140px;
}
.FooterContacts{
	margin-left: 10px;
}
.FooterSocial{
	margin-right: 10px;
}

.slider {
	overflow-x: scroll;
	overflow-y: hidden;
}

.slides {
	display: flex;
	flex-wrap: nowrap;
}

.page {
	display: inline-flex;
	flex-direction: row;
	flex-shrink: 0;
	min-width: 0%;
}

.container {
	display: inline-flex;
	flex-direction: row;
	gap: 20px;
	padding: 10px;
}
.navigation {
	display: none;
}

}

@media screen and (max-width: 384px) {
.MainPageInfo{
	margin-top: -100px;
}
.AboutUsOllContent{
	margin-top: 40px;
}
.YandexMapContent{
	margin-top: 30%;
}
.FooterBody{
margin-top: 40px;
}
}

@media screen and (max-height: 700px) {
.AboutUsOllContent{
	margin-top: 10%;
}
.FooterBody{
	margin-top: 10%;
}
.YandexMapContent{
	margin-top: 10%;
}
}
@media screen and (max-height: 560px) {
.AboutUsOllContent{
	margin-top: 20%;
}
.YandexMapContent{
	margin-top: 20%;
}

}
@media screen and (max-height: 485px) {
	.AboutUsOllContent{
	margin-top: 30%;
}

.MainPageInfoBody{
height: 600px;
}
.DivImage{
	height: 600px;
}
.YandexMapContent{
	margin-top: 25%;
}
}
@media screen and (max-height: 400px) {
.YandexMapContent{
	margin-top: 20%;
}
}
@media screen and (max-height: 375px) {
.AboutUsOllContent{
	margin-top: 50%;
}
.YandexMapContent{
	margin-top: 45%;
}
}
@media screen and (max-height: 200px) {
.YandexMapContent{
	margin-top: 8%;
}
}

@font-face {
	font-family: 'SFNS Display Bold';
	src: url('../font/sfns_display_bold.eot'); /* IE 9 Compatibility Mode */
	src: url('../font/sfns_display_bold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../font/sfns_display_bold.woff2') format('woff2'), /* Super Modern Browsers */
		url('../font/sfns_display_bold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../font/sfns_display_bold.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../font/sfns_display_bold.svg#sfns_display_bold') format('svg'); /* Chrome < 4, Legacy iOS */
}

.CancerBody{
	margin-left: auto;
}
.Cancer{
	position: fixed;
	width: 130px;
	height: 130px;
	top: 20%;
	right: 0;
	z-index: 2;
}
#CancerImage{
	width: 100%; 
	height: 100%;
}
.modal {
    display:flex;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.5);
}

.modal-content {
    background-color: #fff;
    margin: 3% auto;
    padding: 20px;
    border: 1px solid #888;
	width: 510px;
	overflow: auto;
    border-radius: 3px;
	max-height: max-content;
}
#section1{
	scroll-margin-top: 50px;
}
.close {
    color: #aaa;
    float: right;
    font-size: 42px;
    font-weight: bold;
    margin-top: -20px;
}
.honestyle{
font-size: 32px;
}
.htwostyle{
	font-size: 24px;
}
.hthreestyle{
	font-size: 19px;
}
.hfourstyle{
	font-size: 16px;
}
.hfivestyle{
	font-size: 14px;
}
.hsixstyle{
	font-size: 12px;
}
.modaltitle{
	text-align: left;
	font-size: 29px;
}
.ModalTitle{
	margin-top: -10px;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.SliderModal {
    position: relative;
    max-width: 100%; /* Максимальная ширина слайдера */
    margin: auto;
    overflow: hidden;
    border: 1px solid #ddd;
    border-radius: 3px;
    max-height: 360px;
    overflow: auto;
    margin-top: 10px;
}

.SlidesModal {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.PageModal {
    display: flex;
    min-width: 100%; /* Каждая страница занимает всю ширину слайдера */
    justify-content: left;

}

.ContainerModal {
    display: flex;
    grid-template-columns: repeat(1, 1fr); /* 4 товара в ряд */
    gap: 20px;
    padding: 10px;
    flex-direction: column;
    width: 100%;
}

.itemModal {
    background: #f4f4f4;
    border-radius: 3px;
    width: 100%;
    height: 135px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    display: flex;
    vertical-align: middle;
}
.input-container {
     margin-top: 10px;
}
.NameBox{
	text-align: left;
	margin-top: 10px;
}
.EmailBox{
	text-align: left;
	margin-top: 10px;
}
.NumberBox{
	text-align: left;
	margin-top: 10px;
}
#NameTextBox {
padding: 13px;
width: 100%;
border: 1px solid #ccc;
border-radius: 3px;
font-size: 22px;
height: 55px;
}
#EmailTextBox {
padding: 13px;
width: 100%;
border: 1px solid #ccc;
border-radius: 3px;
font-size: 22px;
height: 55px;
}
.invalid-email {
	background-color: #ffcccc; /* Светло-красный фон */
	border-color: #ff0000; /* Красная рамка */
  }
#NumberTextBox {
padding: 13px;
width: 100%;
border: 1px solid #ccc;
border-radius: 3px;
font-size: 22px;
height: 55px;
}
.TotalPrice{
	display: flex;
	margin-top: 10px;
}
.SumModal{
	margin-right: 10px;
	font-family: none;
	font-weight: normal;
}
.ButtonModal{
	display: inherit;
	width: 100%;
	height: 45px;
	text-align: center;
	justify-content: center;
	border-radius: 3px;
	border: 0px;
	margin-top: 10px;
}
#BtnModal{
width: 90%;
height: 40px;
background-color: red;
color: white;
border: 0;
font-size: 17px;
border-radius: 3px;
}
#BtnModal:hover{
	background-color: darkred;
tansition: all .3s linear;
 -webkit-transition: all .3s linear;
 -moz-transition: all .3s linear; 
}
.ProductImageModal{
width: 20%;
height: 120px;
}
.InfoProductModal{
	display: flex;
  flex-direction: column;
  justify-content: space-between; /* Распределяем пространство между элементами */
  height: 100%; /* Занимаем всю высоту родителя */
	width: 50%;
	margin-left: 10px;
}
.ProductNameModal{
display: -webkit-box; /* Включаем flexbox для старых браузеров */
  -webkit-line-clamp: 2; /* Ограничиваем текст двумя строками */
  -webkit-box-orient: vertical; /* Вертикальное направление */
  overflow: hidden; /* Скрываем текст, который выходит за пределы */
  text-overflow: ellipsis; /* Добавляем многоточие, если текст обрезан */
  line-height: 1.2; /* Высота строки */
  max-height: 2.4em; /* Максимальная высота (2 строки * line-height) */
  font-size: 16px; /* Начальный размер шрифта */
  text-align: left;
}
.ProductSizeModalBox{
	display: flex;
}
.ProductOneOrderModalBox{
	display: flex;

}
.ProductSumPrice{
	display: flex;
	margin-left: auto;
	margin-top: 50px;
	width: auto;
	text-align: right;
}
.QuantityProductModal{
	margin-top: auto;
	display: flex;
}

.BtnsQuantity {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1px solid red;
    background-color: white;
    color: red;
    font-size: 13px;
    cursor: pointer;
}

.quantitystye {
	width: 30px; /* Увеличиваем ширину поля ввода */
	text-align: center;
	font-size: 15px;
	border: 1px solid #ccc; /* Добавляем границу */
	border-radius: 3px; /* Скругляем углы */
	padding: 0px; /* Добавляем отступы внутри поля */
	margin: 0 4px; /* Отступы между кнопками и полем ввода */
	-moz-appearance: textfield; /* Для Firefox */
}
		  
/* Убираем стрелки вверх и вниз для WebKit браузеров (Chrome, Safari) */
.quantitystye::-webkit-outer-spin-button,
.quantitystye::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.BtnsQuantity {
            margin: 0 1px;
}
.Plus{
	margin-left: 1px;
}
.BtnsQuantity:hover{
	background-color: darkred;
	color:white;
	border-color: darkred;
}
.BtnsDeliteProductModal{
	            width: 22px;
            height: 22px;
            border-radius: 50%;
            border: 1px solid red;
            background-color: white;
            color: red;
            font-size: 13px;
            cursor: pointer;
}
.BtnsDeliteProductModal:hover{
	background-color: darkred;
	color:white;
	border-color: darkred;
}
@media screen and (max-width: 1300px) {
.Cancer{
	width: 100px;
	height: 100px;
}
}
@media screen and (max-width: 1050px) {
.Cancer{
	width: 90px;
	height: 90px;
}
}
@media screen and (max-width: 627px) {
.Cancer{
	width: 70px;
	height: 70px;
}
}

@media screen and (max-width: 500px) {
	.InfoProductModal{
		margin-left: 30px;
	}
	}
@media screen and (max-width: 375px) {
	.ProductImageModal{
			width: 0px;
	}
	.InfoProductModal{
		margin-left: 10px;
		width: 90%;
	}
}

/* Страница товара (продукта) */
.PageFooterBody {
    display: flex;
    vertical-align: middle;
    align-items: flex-end;
    background-color: #1c1c1c;
    color: white;
    position: absolute;
    width: 100%;
    bottom: 0;
}

.PageFooterBodyContent {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.PageFooterContacts {
    width: 200px;
    margin-left: 100px;
}

.PageFooterTitle {
    margin-bottom: 5px;
}

.PageFooterTextContent {
    flex-direction: column;
}

.Pagegmail {
    margin-bottom: 5px;
    margin-top: 3px;
}

.PageFooterSocial {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 100px;
}

.PageGoBackBody {
    width: 100%;
    height: 100px;
    margin-top: 10px;
}

.PageBtnGoBack {
    color: grey;
    text-decoration: none;
    font-size: 20px;
    margin-top: 20px;
}

.PageProductBody {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.PageProductContent {
    display: flex;
    width: 1000px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    border-radius: 3px;
}

.PageImageProduct {
    width: 40%;
    height: auto;
}

.PageImageProduct img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.PageProductRightBlock {
    width: 60%; /* Правая часть занимает 60% */
    display: flex;
    flex-direction: column; /* Блоки внутри располагаются вертикально */
    margin-left: 3%;
}

.PageProductText {
    display: flex;
    flex-direction: column;
}

.PagePriceForOne {
    margin-top: 4%;
}

.PageVolumeSelection {
    margin-top: 2%;
}

.Pagedropdown {
    position: relative;
    display: inline-block;
}

.Pagedropdown button {
    background-color: white;
    color: black;
    padding: 8px 10px;
    border: 1px solid gray;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
}

.custom-select {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.custom-select option {
    margin-top: 10px;
    font-size: 18px;
}

.custom-select option:hover {
    background-color: lightgray;
}

.Pagedropdown:hover .dropdown-content {
    display: block;
}

.PageProductName {
    font-size: 25px;
}

.PageBtnProductAdd {
    background-color: black;
    color: white;
    font-size: 18px;
    padding: 10px;
    border: 0;
    border-radius: 3px;
    margin-top: 3%;
}

.PageBtnProductAdd:hover {
    color: red;
    transition: all .5s;
}

.PageProductDescriptionBlock {
    margin-top: 20px; /* Отступ сверху для описания */
}

.PageProductDescription {
    font-size: 15px;
}

@media screen and (max-width: 680px) {
    .PageProductContent {
        flex-direction: column; 
        align-items: center; 
    }
	.PageProductRightBlock {
        width: 100%; 
        margin-left: 0;
        margin-top: 20px; 
        text-align: center; 
    }

    .PageProductText {
        text-align: center; 
        width: 100%; 
        padding: 0 20px; 
    }

    .PageProductDescriptionBlock {
        margin-top: 20px; 
        text-align: center; 
        width: 90%; 
        margin-left: auto; 
        margin-right: auto; 
    }

    .PageBtnProductAdd {
        width: 100%; 
        max-width: 200px; 
    }
	.PageFooterBody{
		visibility: hidden;
	}
}
@media screen and (max-height: 680px) {
	.PageFooterBody{
		visibility: hidden;
	}
}

  /* Страница входа в админку */
  /* Контейнер для центрирования формы */
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Занимает всю высоту экрана */
    background-color: #f5f5f5; /* Светлый фон */
  }
  
  /* Стили для формы */
  .login-form {
    background: white;
    padding: 2rem;
    border-radius: 3px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
  }
  
  /* Заголовок формы */
  .form-title {
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    color: #333;
  }
  
  /* Группа полей ввода */
  .form-group {
    margin-bottom: 1rem;
  }
  
  /* Лейбл для полей ввода */
  .form-label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 500;
    color: #555;
  }
  
  /* Поле ввода */
  .form-input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ddd;
    border-radius: 3px;
    font-size: 1rem;
    transition: border-color 0.3s ease;
  }
  
  .form-input:focus {
    border-color: red;
    outline: none;
  }
  
  /* Кнопка отправки */
  .submit-button {
    width: 100%;
    padding: 0.75rem;
    background-color: red;
    color: white;
    border: none;
    border-radius: 3px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submit-button:hover {
    background-color: darkred;
  }
  
  /* Сообщение об ошибке */
  .error-message {
    color: #ff4d4d;
    text-align: center;
    font-size: 0.9rem;
  }
  /* Страница yAdmin */
  .div-body-yAdmin{
	margin: 0;
	padding: 0;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
   }
   .modal-overlay-delete{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1001;
   }
   .notification-container {
	position: fixed;
	top: 15px;
	right: 20px;
	display: flex;
	flex-direction: column-reverse; /* Новые уведомления появляются сверху, старые уходят вниз */
	gap: 10px; /* Расстояние между уведомлениями */
	z-index: 1000;
  }
  .notification {
	position: relative;
	background-color: #4CAF50; /* Зеленый цвет для успешного уведомления */
	color: white;
	padding: 15px;
	border-radius: 5px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	animation: fadeIn 0.5s, fadeOut 0.5s 4.5s;
	overflow: hidden; /* Чтобы фон не выходил за границы уведомления */
  }
  
  .notification::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(to right, #45a049 0%, #45a049 100%); /* Градиент для прогресса */
	z-index: -1; /* Помещаем под текст */
	animation: progress 3s linear; /* Анимация для прогресса */
  }

  @keyframes fadeIn {
	from { opacity: 0; transform: translateY(-20px); }
	to { opacity: 1; transform: translateY(0); }
  }
  
  @keyframes fadeOut {
	from { opacity: 1; transform: translateY(0); }
	to { opacity: 0; transform: translateY(20px); }
  }

  @keyframes progress {
	from {
	  width: 100%; /* Начальная ширина фона */
	}
	to {
	  width: 0%; /* Конечная ширина фона */
	}
  }
  
   .modal-content-delete {
    background-color: #fff;
    margin: 3% auto;
    padding: 20px;
    border: 1px solid #888;
	width: 400px;
	overflow: auto;
    border-radius: 3px;
	max-height: max-content;
}
   .btn-cancel {
	background-color: gray;
	color: white;
	border: none;
	padding: 10px 20px;
	cursor: pointer;
  }
  .logout-class{
	position: absolute;
	margin: 10px 0px 0px 10px;
	padding: 10px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 3px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .logout-class:hover{
	background-color: darkred;
  }

   select {
	padding: 5px;
	border-radius: 3px;
	border: 1px solid #ccc;
	cursor: pointer;
  }
   .close-yAdmin{
	color: #aaa;
    float: right;
    font-size: 42px;
    font-weight: bold;
    margin-top: -29px;
   }
   .close-yAdmin:hover{
	cursor: pointer;
   }
   .btn-save, .btn-ready, .btn-delete {
	padding: 10px 20px;
	border: none;
	border-radius: 3px;
	cursor: pointer;
  }
  
  .btn-save {
	background: #4caf50;
	color: white;
  }
  
  .btn-ready {
	background: #2196f3;
	color: white;
  }
  
  .btn-delete {
	background: #f44336;
	color: white;
  }
  
  .container-order {
	width: 95%;
	max-width: 1400px;
	background-color: #fff;
	padding: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	border-radius: 3px;
	overflow: hidden;
	margin-top: 70px;
  }
  
  .search-box {
	margin-bottom: 20px;
  }
  
  .search-input {
	width: 100%;
	padding: 10px;
	font-size: 16px;
	border: 1px solid #ddd;
	border-radius: 3px;
	outline: none;
  }
  
  .search-input:focus {
	border-color: #4caf50;
  }

  .order-list {
	display: flex;
	flex-direction: column;
	gap: 20px;
	max-height: 600px;
	overflow-y: auto;
	padding-right: 10px;
  }
  
  .order-item {
	width: 100%;
	border: 1px solid #ddd;
	border-radius: 3px;
	padding: 20px;
	background-color: #f9f9f9;
	flex-shrink: 0;
	cursor: pointer; 
	transition: background-color 0.3s ease;
  }
  
  .order-item:hover {
	background-color: #f0f0f0; /* Эффект при наведении */
  }
  
  .order-info {
	display: flex;
	gap: 20px;
	align-items: center;
  }
  
  .field-value {
	color: #555;
	font-size: 16px;
	flex: 1;
	white-space: nowrap;
  }
  .order-number{
	max-width: 100px;
  }

  .order-gmail{
	max-width: 250px;
  }

  
  .phone {
	min-width: 140px;
  }
  
  .status {
	padding: 5px 10px;
	border-radius: 3px;
	font-weight: bold;
	color: #fff;
	text-align: center;
	min-width: 80px;
  }
  
  .ready {
	background-color: #4caf50;
  }
  
  .not-ready {
	background-color: #ffeb3b;
	color: #000;
  }
  
  /* Модальное окно */
  .modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
  }
  
  .modal-order-content {
	background-color: #fff;
	padding: 20px;
	border-radius: 3px;
	width: 90%;
	max-width: 500px;
	position: relative;
  }
  
  .modal-info {
	margin-bottom: 20px;
	text-align: left;
  }
  
  .modal-info p {
	margin: 10px 0;
  }
  
  .modal-actions {
	display: flex;
	gap: 10px;
	justify-content: flex-end;
  }
  
  .btn-complete {
	background-color: #4caf50;
	color: #fff;
	border: none;
	padding: 10px 20px;
	border-radius: 3px;
	cursor: pointer;
	transition: background-color 0.3s ease;
  }
  
  .btn-complete:hover {
	background-color: #45a049;
  }
  
  .btn-delete {
	background-color: #f44336;
	color: #fff;
	border: none;
	padding: 10px 20px;
	border-radius: 3px;
	cursor: pointer;
	transition: background-color 0.3s ease;
  }
  
  .btn-delete:hover {
	background-color: #d32f2f;
  }
  
  .btn-close {
	position: absolute;
	top: 10px;
	right: 10px;
	background: none;
	border: none;
	font-size: 20px;
	cursor: pointer;
	color: #555;
  }
  
  .btn-close:hover {
	color: #000;
  }
  
  /* Адаптация для мобильных устройств */
  @media (max-width: 768px) {
	.container-order {
	  width: 100%;
	  max-width: 100%;
	  padding: 10px;
	}
  
	.order-info {
	  flex-direction: column;
	  align-items: flex-start;
	  gap: 10px;
	}
  
	.field-value {
	  width: 100%;
	}
  
	.status {
	  width: 100%;
	}
  }
    /* Страница главного админа */
	.vertical-container {
		display: flex;
		flex-direction: column; /* Располагаем элементы по вертикали */
		align-items: center; /* Центрируем элементы по горизонтали */
		width: 100%;
	}
	
	.search-sAdmin{
		margin-top: 20px;
		width: 390px;
		  }

	.button-container {
		display: flex;
		justify-content: center; /* Центрируем кнопки по горизонтали */
		gap: 20px; /* Отступ между кнопками */ 
		width: 100%; /* Занимает всю ширину */
		margin-top: 60px;
	}
	
	.add-button {
		background-color: green; /* Зеленый цвет */
		color: white; /* Белый текст */
		border: none;
		padding: 10px 20px; /* Размер кнопки */
		border-radius: 3px; /* Скругленные углы */
		cursor: pointer;
		font-size: 16px; /* Размер текста */
		transition: background-color 0.3s ease; /* Плавное изменение цвета */
	}
	
	.add-button:hover {
		background-color: darkgreen; /* Темно-зеленый при наведении */
	}
	.modal-overlay-addCategory {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный черный фон */
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 1000; /* Убедимся, что модальное окно поверх других элементов */
	  }
	  
	  .modal-content-addCategory {
		background-color: white;
		padding: 20px;
		border-radius: 3px;
		width: 300px;
		box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
		text-align: center;
	  }
	  
	  .modal-input-addCategory {
		width: 100%;
		padding: 10px;
		margin-top: 10px;
		border: 1px solid #ccc;
		border-radius: 3px;
		font-size: 16px;
	  }
	  
	  .modal-buttons-addCategory {
		display: flex;
		justify-content: space-between;
		margin-top: 20px;
	  }
	  
	  .modal-button-addCategory {
		padding: 10px 20px;
		border: none;
		border-radius: 3px;
		cursor: pointer;
		font-size: 16px;
		transition: background-color 0.3s ease;
	  }
	  
	  .modal-button-addCategory.add {
		background-color: green;
		color: white;
	  }
	  
	  .modal-button-addCategory.add:hover {
		background-color: darkgreen;
	  }
	  
	  .modal-button-addCategory.cancel {
		background-color: #ccc;
		color: black;
	  }
	  
	  .modal-button-addCategory.cancel:hover {
		background-color: #999;
	  }
	  /* Стили для модального окна удаления категории */
.modal-overlay-deleteCategory {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный черный фон */
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000; /* Убедимся, что модальное окно поверх других элементов */
  }
  
  .modal-content-deleteCategory {
	background-color: white;
	padding: 20px;
	border-radius: 3px;
	width: 300px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	text-align: center;
  }
  
  .modal-buttons-deleteCategory {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
  }
  
  .modal-button-deleteCategory {
	padding: 10px 20px;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	font-size: 16px;
	transition: background-color 0.3s ease;
  }
  
  .modal-button-deleteCategory.delete {
	background-color: red;
	color: white;
  }
  
  .modal-button-deleteCategory.delete:hover {
	background-color: darkred;
  }
  
  .modal-button-deleteCategory.cancel {
	background-color: #ccc;
	color: black;
  }
  
  .modal-button-deleteCategory.cancel:hover {
	background-color: #999;
  }

/* Стили для модального окна добавления товара */
.modal-overlay-addProduct {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
  }
  
  .modal-content-addProduct {
	background-color: white;
	padding: 20px;
	border-radius: 3px;
	width: 90%;
	max-width: 600px; /* Максимальная ширина модального окна */
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	text-align: center;
  }
  
  /* Контейнер для изображения и текстовых полей */
  .modal-content-wrapper {
	display: flex;
	gap: 20px; /* Отступ между изображением и текстовыми полями */
  }
  
  /* Блок с изображением */
  .image-block {
	flex: 1;
  }
  
  /* Блок с текстовыми полями */
  .text-block {
	flex: 2;
	display: flex;
	flex-direction: column;
	gap: 10px; /* Отступ между полями ввода */
  }
  
  /* Стили для загрузки изображения */
  .image-upload-container {
	margin-bottom: 20px;
	text-align: center;
  }
  
  .image-upload-label {
	display: inline-block;
	padding: 10px 20px;
	background-color: #007bff;
	color: white;
	border-radius: 3px;
	cursor: pointer;
	transition: background-color 0.3s ease;
  }
  
  .image-upload-label:hover {
	background-color: #0056b3;
  }
  
  .image-upload-input {
	display: none; /* Скрываем стандартный input */
  }
  
  .uploaded-image {
	max-width: 100%;
	max-height: 200px;
	border-radius: 3px;
	margin-top: 10px;
  }
  
  /* Стили для полей ввода */
  .modal-input-addProduct {
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 3px;
	font-size: 16px;
  }
  
  textarea.modal-input-addProduct {
	height: 100px;
	resize: vertical;
  }
  
  /* Стили для кнопок */
  .modal-buttons-addProduct {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
  }
  
  .modal-button-addProduct {
	padding: 10px 20px;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	font-size: 16px;
	transition: background-color 0.3s ease;
  }
  
  .modal-button-addProduct.add {
	background-color: green;
	color: white;
  }
  
  .modal-button-addProduct.add:hover {
	background-color: darkgreen;
  }
  
  .modal-button-addProduct.cancel {
	background-color: #ccc;
	color: black;
  }
  
  .modal-button-addProduct.cancel:hover {
	background-color: #999;
  }
  
  /* Адаптация для экранов с шириной 680px и меньше */
  @media (max-width: 680px) {
	.modal-content-wrapper {
	  flex-direction: column; /* Элементы располагаются вертикально */
	}
  
	.image-block,
	.text-block {
	  flex: none; /* Отключаем flex для мобильных устройств */
	}
  
	.modal-content-addProduct {
	  width: 95%; /* Увеличиваем ширину модального окна на маленьких экранах */
	}
	.search-sAdmin{
		width: 100%;
	}
  }
  /* Страница товара в админке (продукта) */

  /* Стили для модального окна */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 3px;
    text-align: center;
}

.modal-buttons {
    margin-top: 20px;
}

.modal-button-delete-admin-product {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 10px;
	transition: background-color 0.3s ease;
}
.modal-button-delete-admin-product:hover{
	background-color: darkred;
}
.modal-button-cancel-admin-product {
    background-color: lightgrey;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
	transition: background-color 0.3s ease;
}

.modal-button-cancel-admin-product:hover{
background-color: gray;
}

  .PageImageProduct {
    width: 40%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.custom-input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.custom-input::placeholder {
    color: #999;
}

.custom-input:focus {
    outline: none;
    border-color: #66afe9;
    box-shadow: 0 0 5px rgba(102, 175, 233, 0.6);
}

.price-input-container {
    position: left;
    width: 100%;
}

.kopecks-placeholder {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    pointer-events: none; /* Запрещаем взаимодействие с плейсхолдером */
}
.custom-textarea {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 3px;
    resize: vertical;
}
.PageAdminBtnProductAdd{
		padding: 10px 20px;
		border: none;
		border-radius: 3px;
		cursor: pointer;
		font-size: 16px;
		transition: background-color 0.3s ease;
		background-color: green;
		color: white;
}
.PageAdminBtnProductAdd:hover{
	background-color: darkgreen;
}

.PageAdminBtnProductDelete{
	padding: 10px 20px;
		border: none;
		border-radius: 3px;
		cursor: pointer;
		font-size: 16px;
		transition: background-color 0.3s ease;
		background-color: red;
		color: white;
		margin-left: 10px;
}

.PageAdminBtnProductDelete:hover{
	background-color: darkred;
}

.PageBtnProductDelete{
	padding: 10px 20px;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	font-size: 16px;
	transition: background-color 0.3s ease;
	background-color: red;
	color: white;
	margin-left: 10px;
}
.PageBtnProductDelete:hover{
	background-color: darkred;
}
.PageButtonProductAdd{
	margin-top: 10px;
}